/* dark theme configs */

#themeButton {
  border-radius: 7px; 
  background: none;
  height: 44px;
  width: 165px;
  cursor: pointer;
  transition: 100ms;
  display: block;
  margin: 0 auto;
  animation: pulse 5s aese infinite;
}

#themeButton:active {
  transform: scale(0.99);
  border: red solid 2px;
}

@keyframes pulse {
  0% {
   border: red solid 2px;
 }
  30% {
   border: blue solid 2px;
  60% {
   border: green solid 2px;
  }
  80% {
   border: orange solid 2px;
  }
  100% {
   border: pink solid 2px;
  }
 }
}

  /* __________________________________ */

/* light theme configs */

html.light #themeButton {
  border: black solid 1px !important;
}

  /* __________________________________ */