#themeButton {
  border: white solid 1px;
  border-radius: 7px; 
  background: none;
  height: 65px;
  width: 190px;
  cursor: pointer;
  transition: 100ms;
}

#themeButton:active {
  transform: scale(0.99);
  border: red solid 2px;
}