body {
  background-color: black;
}

:root {
  --sdw: 0px 0px 30px 0px rgba(250, 250, 250, 0.4);
  --chat: 0px 0px 30px 0px rgba(255,255,255,0.356);
}

.contentMom {
  background-color: #282828;
  height: auto;
  width: auto;
  padding: 16px;
  border-radius: 20px;
}

.content {
  color: #eeeeee;
  font-family: Kanit;
}

.version {
  color: #727272;
}

.title-text {
      justify-self: center;
      font-weight: bold;
      animation: mudarCor 20s infinite;
      transition: color 3s;
      font-family: bold;
    }

@keyframes mudarCor {
      0%   { color: red; }
      25%  { color: orange; }
      50%  { color: yellow; }
      75%  { color: green; }
      100% { color: blue; }
    }

.avatari {
    color: #cb0707;
    background-color: #666666;
    padding: 3px;
    font-size: 14px;
    border-radius: 10px;
  }

.body-text {
  background-color: black;
}

.send {
  animation: mudarCorDois 20s infinite;
 transition: color 3s;
}

@keyframes mudarCorDois {
      0%   { color: blue; }
      25%  { color: #02e6e1; }
      50%  { color: #24f1a3; }
      75%  { color: #6dea00; }
      100% { color: #7600d4; }
    }

.stream {
    background-color: black;
  }

.suggest-content-text {
  color: #dd9c33ef;
}

.suggest-content-text:hover {
  color:#895800 ;
  transform: scale(0.90);
}

.background-text-container, .background-text {
  background-color: #20c5f747;
  border: #3161f1ab solid 2px;
  border-radius: 17px;
}

.scroll-touch {
      position: relative;
      min-height: 100vh;
      background: url('Img-imagens/09d1db9058dd21f852650303192c371f.gif') no-repeat center center / cover;
      color: white;
      padding: 20px;
      overflow: hidden;
    }

.scroll-touch::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
      pointer-events: none;
    }

.scroll-touch > * {
      position: relative;
      z-index: 1; 
   }

.chat-footer {
      background-color: transparent !important;
      opacity: 0.5 !important;
      background-img: none;
      box-shadow: var(--chat);
      border-radius: 15px 15px 0 0;
}

.main-fluid {
      background-color: transparent !important;
}

.desc {
  color: white;
   }

.chat-operate {
  z-index: 30;
}

.body-text, .robot-text, .last-text {
  background-color: #0e5f6de6;
  border: #bebebec5 solid 1px;
}