body, html {
  background-color: black;
}

:root {
  --sdw: 0px 0px 30px 0px rgba(250, 250, 250, 0.4);
}

.contentMom {
  background-color: #282828;
  height: auto;
  width: auto;
  padding: 16px;
  border-radius: 20px;
}

.content {
  color: #eeeeee;
  font-family: Kanit;
}

.version {
  color: #727272;
}

.title {
      justify-self: center;
      font-weight: bold;
      animation: mudarCor 20s infinite;
      transition: color 3s;
    }

@keyframes mudarCor {
      0%   { color: red; }
      25%  { color: orange; }
      50%  { color: yellow; }
      75%  { color: green; }
      100% { color: blue; }
    }
    
.avatari {
    color: #cb0707;
    background-color: #666666;
    padding: 3px;
    font-size: 14px;
    border-radius: 10px;
  }
  
.body-text {
  background-color: black;
}

.title-text {
  color: #c68300;
}

.send {
  animation: mudarCorDois 20s infinite;
 transition: color 3s;
}

@keyframes mudarCorDois {
      0%   { color: blue; }
      25%  { color: #02e6e1; }
      50%  { color: #24f1a3; }
      75%  { color: #6dea00; }
      100% { color: #7600d4; }
    }
  
.stream {
    background-color: black;
  }

.suggest-content-text {
  color: #dd9c33ef;
}

.suggest-content-text:hover {
  color:#895800 ;
  transform: scale(0.90);
}

.background-text-container, .background-text {
  background-color: #20c5f747;
  border: #3161f1ab solid 2px;
  border-radius: 17px;
}

.intro {
  color: #1a2af6bb;
}