/*indexJL Start*/

body, html {
  background-color: #262626;
}

.title-text {
  color: rgb(162,249,255);
}

.scroll-touch {
  background-image: url('Img-imagens/09d1db9058dd21f852650303192c371f.gif') !important;
  background-color: #000000 !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-touch::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  pointer-events: none;
}

.scroll-touch > * {
 position: relative;
 z-index: 0;
}

.chat-footer {
  border: rgba(54,54,54,0.829) solid 1px;
  width: 100vw !important;
  height: auto;
  border-radius: 1px 1px 0 0;
}

.chat-bg {
  z-index: 21;
  border-radius: 0 0 17px 17px;
}

/*scenario content*/

.desc {
  color: rgb(212,212,212);
}

.intro {
  color: rgba(88,237,252,0.891) !important;
}
/*_*/

.chat-header-ad, .ad, .hide {
  display: none !important;
}

.body-text, .robot-text, .last-text {
  background-color: rgba(0,51,97,0.576) !important;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: #31fdffb7 solid 1px;
}

em {
  color: #161571 !important;
}

.chat-main {
  height: 100vh;
}

.notice-desc {
  background-color: rgba(105,105,105,0.745) !important;
}

.ant-dropdown-menu {
  background-color: #454545a6 !important;
  border-radius: 11px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

p {
  color: white;
}

.reviews {
  z-index: 80;
}

.main {
  background-color: black;
}

.bot-info-main {
  z-index: 79;
}
/*indexJL End*/

/*
This is a hyper-organized CSS file, and since I'm very forgetful, I might forget some Joyland classes — that's why I keep everything organized <3.
*/
