/*message start*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.frame-content-control {
  background-color: rgba(0,91,234,0.306);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 20px;
  border: #0091b6 solid 1px;
}

.frame-content {
  color: white;
}

.frame-title {
  justify-self: center;
  color: rgba(61,110,204,0.923);
  font-family: 'Lexend', sans-serif;
}

.avatar-prefix-char {
  color: #8c0000;
}

.extra-prefix {
  color: #9b8100;
}

.version-number {
  color: rgb(255,255,255);
  font-size: 9px;
}

/*message end*/